.settings-wrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom, #84adff, #001f5c);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  font-family: 'Mulish', sans-serif;
}

.settings-card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 600px;
}

.ant-card-head {
  background-color: #0070f3 !important;
  color: white !important; /* Cambia el color del título del Card */
  font-weight: bold;
  font-size: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
}
